node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# md files 
CROSS_CHAIN_COMPARISONS.md
FRONTEND_SETUP_COMPLETE.md 
PROJECT_STATUS.md
ZK_INTEGRATION_STATUS.md 